<body class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="#" class="h1"><b>F88</b></a>
        <%- msg.length ? `
        <div class="alert alert-danger">${msg}</div>
        `: ''; %>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Tạo mật khẩu mới</p>
        <form method="post">
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Nhập mật khẩu"
              name="passwordNew"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-key"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Nhập lại mật khẩu"
              name="rePassword"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-key"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">
                Mã OTP 6 chữ số
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>
        <p class="mt-3 mb-1">
          <a href="/auth/login">Quay về trang đăng nhập</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</body>
